@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

@font-face {
  font-family: 'Futura';
  src: url(./fonts/Futura.ttf);
}
@font-face {
  font-family: 'Futura-bold';
  src: url(./fonts/Futura-Bold.ttf);
}
@font-face{
  font-family: 'Roc Grotesk';
  src:url(./fonts/rocgroteskcomp-extrabold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roc Grotesk';
}

.module-teams-talk-gfx {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  font-size: 15px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 81.2,
    "YTLC" 500; */
  position: absolute;
}

.bg-image {
  z-index: 0;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.container {
  height: fit-content;
  width: 1920px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  position: absolute;
}

.blue {
  color: white;
}

.red {
  color: white;
}

.team {
  display: none;
  width: 950px;
  align-items: top;
  position: absolute;
  top: 5px;
  filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.5));
  
  font-size: 30px;
  /* font-optical-sizing: auto; */
  font-weight: 800;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 81.2,
    "YTLC" 500; */
}

#blue-team {
  left: 0;
}

#red-team {
  flex-direction: row-reverse;
  right: 0;
}

.score {
  font: 'Futura';
  text-transform: uppercase;
  line-height: 1;
}

.score {
  align-self: top;
  text-align: center;
  margin-top: 30px;
  width: 40px;
  font-size: 70px;
  color: white;
}

#blue-score {
  transform: translateX(-30px);
}
#red-score {
  transform: translateX(30px);
}

.tag.outline {
  -webkit-text-stroke-width: 3px;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: inherit;
}

.logo-container{
  width: 156px;
  display: flex;
  align-items: top;
  justify-content: center;}

.logo {
    margin-top: 5px;
    max-width: 125px;
    max-height: 125px;
    width: auto;
    height: auto;
    object-fit: contain;
  }
/* #red-logo {
  margin-inline-end: 50px;
  margin-left: 25px;
}
#blue-logo {
  margin-inline-start: 50px;
  margin-right: 25px;
} */

.name {
  /* line-height: 1; */
  text-transform: uppercase;
  align-self: center;
  font-style: bold;
  font-size: 70px;
  width: 559px;
  max-height: 150px;
  overflow: hidden;
  color: white;
  word-wrap: break-word;
  
}

#blue-name {
  margin-right: 0;
  text-align: left;
}

#red-name {
  margin-left: 0;
  text-align: right;
}

.has-scores #blue-tag {
  margin-right: 0;
}
.has-scores #red-tag {
  margin-left: 0;
}

.draft-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 99;
  overflow: hidden;
}