* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
@font-face {
  font-family: 'Futura-bold';
  src: url(./fonts/Futura-Bold.ttf) format("truetype");
}


.module-teams-ingame-gfx {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  font-family: "Futura-bold", sans-serif;
  font-size: 40px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  font-variation-settings:
    "wdth" 81.2,
    "YTLC" 500;
  font-weight: 700;
  color: var(--text-color);
  font-size: 50px;

}

.blue {
  color: white;
  filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.5));

}

.red {
  color: white;
  filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.5));

}

#tag-container {
  position: absolute;
  line-height: 0.85;
  text-transform: uppercase;
  background-position: center top;
  width: 1417px;
  height: 100%;
  left:265px;
  top: -28px;
  display: unset;
  justify-content: center;
  text-align: center;
  z-index: 2;
  font-family: "Futura-bold", sans-serif;
  font-size: 22px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  font-variation-settings:
    "wdth" 75,
    "YTLC" 500;

}

#blue-tag,
#red-tag {
  z-index: 10;
  position: absolute;
  width: 190px;
  height: 61px;
  top:25px;
  display: flex;
  align-items: center;

}

#blue-tag {
  left: 0px;
  text-align: left;
}

#red-tag {
  right: 0;
  text-align: right;
}

.bg-image {
  z-index: 0;
  position: absolute;
  width: 1920px;
  height: 1080px;
}


#name-container {
  position: absolute;
  text-transform: uppercase;
  line-height: 0.7;
  width: 100%;
  height: 6%;
  font-size: 40px;
  top: -10px;
  margin-top: -10px;
  justify-content: center;
  text-align: center;
  z-index: 10;
  font-family: "Futura-bold", sans-serif;
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  font-variation-settings:
    "wdth" 81.2,
    "YTLC" 500;
  align-items: center;
  overflow: '...';
}

#logo-container {
  position: absolute;
  width: 1544px;
  height: 100%;
  left:200px;
  top:-12px;
  z-index: 6;
}
.logo {
  width: 45px;
  position: inherit;
  top: 16px;
}
#logo-blue{
  right: 12px
}
#logo-red{
  left: 12px
}

#blue-name,
#red-name {
  z-index: 10;
  padding-top: 5px;
  font-size: 25px;
}

#blue-name {
  transform: translateX(-560px);
  margin-top: -5px;
  width: 16%;
  height: 30px;
  text-align: left;
}

#red-name {
  transform: translateX(560px);
  margin-top: 0px;
  width: 16%;
  height: 30px;
  text-align: right;
}

.points-team {
  z-index: 15;
  width: 1000px;
  height: 20%;
  position: absolute;
  top:60px;
  display: flex;
  z-index: -1000;
}

.points-blue{
  position: absolute;
  left: 203px;
}
.points-red{
  flex-direction: row-reverse;
  position: absolute;
  right:175px;
}
.point {
  display: block;
  width: 62px;
  height: 10px;
  margin-right: 5px;
}
