*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Coconat Bold";
  src: url("./fonts/Coconat-BoldExt.woff"),
       url("./fonts/Coconat-BoldExt.woff2");
}
@font-face {
  font-family: "Coconat Regular";
  src: url("./fonts/Coconat-Regular.woff"),
       url("./fonts/Coconat-Regular.woff2");
}
@font-face {
  font-family: "Murmure";
  src: url("./fonts/LeMurmure-Regular.woff"),
       url("./fonts/LeMurmure-Regular.woff2");
}
@font-face {
  font-family: 'Futura';
  src: url('./fonts/Futura.ttf');
}

body {
  /* background: black; */
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  /* background-color: #000; */
}

h1 {
  margin-top: auto;  
  color: white;
  /* background: linear-gradient(
    45deg,
    #F7EC6C 0%,
    #CB890F 30%,
    #FBD745 75%,
    #BF6617 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; */
  font-family: 'Coconat Regular';
  font-size: 12px;
  margin-bottom: 10px;
}

.fearless_title {
  font-size: 25px;
  position: relative;
  top: -60px;
  z-index: 99;
}

/* .container {
  width: 1920px;
  height: 1080px;
  text-align: center;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 5rem;
} */

.images {
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(255, 215, 0, 0.2); /* subtle gold-ish glow */
}

.container img {
  width: 40px;
  flex: none;
  margin: 0;
  align-self: flex-start;
  max-width: 50%;
  height: auto;
}

.container {
  position: absolute;
  width: 402px;
  height: 100px; /* ajuste selon besoin */
  top:850px;
  left: 760px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  margin-top: 30px;
  opacity: 0;
  transition: all 1s ease-in-out;
  pointer-events: none;
}

.slide.active {
  animation: slide-in-up 1.5s ease forwards;
  z-index: 1;
}

.slide.solo {
  opacity: 1;
  z-index: 1;
  animation: none !important;
  transform: translateY(-100%);
}

.slide.exit-up {
  animation: slide-out-up 3s ease forwards;
  z-index: 2;
}

/* Keyframes for nicer entrance/exit */
@keyframes slide-in-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-out-up {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}