.BansWrapper {
  width: 100%;
  height: var(--box-ban-height);
  display: flex;
  align-items: center;
}

.Bans {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.BansContainer {
  display: flex;
  align-items: center;
  gap: var(--ban-gap);
  width: 100%;
  padding: 0 6px;
  box-sizing: border-box;
}

/* slot carré */
.BanSlot {
  width: var(--ban-size);
  height: var(--ban-size);
  position: relative;
  overflow: hidden;
  flex: 0 0 var(--ban-size);
}

.Ban {
  position: absolute;
  inset: 0;
}

.BanImage {
  position: absolute;
  inset: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

/* miroir ordre bans côté red (si tu veux centre->extérieur comme sur le visuel) */
.TeamRed .BansContainer {
  flex-direction: row-reverse;
}


.BansContainer {
  display: flex;
  align-items: center;
  gap: var(--ban-gap);
  width: 100%;
  padding: 0 6px;
  box-sizing: border-box;
}

/* Blue : bans collés au centre (donc à droite du panneau blue) */
.TeamBlue .BansContainer {
  justify-content: flex-end;
    // transform: translate(100%);
  
}

/* Red : bans collés au centre (donc à gauche du panneau red) */
.TeamRed .BansContainer {
  justify-content: flex-start;
  flex-direction: row-reverse; /* pour avoir centre->extérieur comme sur ton mock */
}

.BansWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.BansContainer{
  display: flex;
  gap: var(--ban-gap);
  width: 100%;
}

.BanSlot{
  width: var(--ban-size);
  height: var(--ban-size);
  position: relative;
  overflow: hidden;
}