@font-face {
  font-family: Saira Condensed;
  src: url("./fonts/Saira_Condensed-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

@font-face {
  font-family: "Coconat Bold";
  src: url("./fonts/Coconat-BoldExt.woff"),
       url("./fonts/Coconat-BoldExt.woff2");
}
@font-face {
  font-family: "Coconat Regular";
  src: url("./fonts/Coconat-Regular.woff"),
       url("./fonts/Coconat-Regular.woff2");
}
@font-face {
  font-family: "Murmure";
  src: url("./fonts/LeMurmure-Regular.woff"),
       url("./fonts/LeMurmure-Regular.woff2");
}

@font-face {
  font-family: "Grotesk Compressed Extrabold";
  src: url("./fonts/Kostic\ -\ Roc\ Grotesk\ Compressed\ ExtraBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
