@import "./fonts";

.Timer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--pb-center-w);
  height: var(--pb-h);
  z-index: 10;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .TimerLeft,
  .TimerRight {
    display: none; /* tu peux réactiver selon ton design */
  }
}